{% extends "base.njk" %}

{% import "components/general.njk" as c %}

{% block main %}
    <div class="hero">
        <div class="hero__inner">
            <p>"Mijn liefde voor het vertellen van verhalen en het vinden van creatieve oplossingen drijft me in mijn werk als programmeur."</p>
        </div>
        {{c.banner(banner_src, banner_alt)}}
    </div>
    <div>
        {% block content %}
            {{ content | safe}}
        {% endblock content %}
    </div>
{% endblock main %}