{% extends "hero.njk" %}

{% import "components/general.njk" as c %}

{% block content %}
    <section>
        <p>
        {% block about %}
            {{ content | safe}}
        {% endblock about %}
        </p>
    </section>
    <section>
        {{c.linkList(contactTitle, contactIterator)}}
        {{c.list(techTitle, techIterator)}}
    </section>
    <section>
        {% for item in collections.projects %}
            <article>
                <h3>{{ item.data.project_title }}</h3>
                <p>{{ item.data.short_description }}</p>
                <a href="/projects/{{item.data.link}}">Lees meer</a>
            </article>
        {% endfor %}
    </section>
{% endblock content %}