{% extends "hero.njk" %}

{% import "components/general.njk" as c %}

{% block content %}
    <section>
        <p class="about">
        {% block about %}
            {{ content | safe}}
        {% endblock about %}
        </p>
    </section>
    <section class="lists">
        {{c.linkList(contactTitle, contactIterator)}}
        {{c.list(techTitle, techIterator)}}
    </section>
    <section>
        {% for item in collections.projects %}
            <article class="project">
                <h3 class="project__title">{{ item.data.project_title }}</h3>
                <p class="project__description">{{ item.data.short_description }}</p>
                <a class="project__link" href="/projects/{{item.data.link}}">Lees meer</a>
            </article>
        {% endfor %}
    </section>
{% endblock content %}