{% extends "base.njk" %}


{% block main %}
    <header>
        <div>
            <p>Tess Slock</p>
            <p>quote</p>
        </div>
        <img src="" alt="">
    </header>

{% endblock main %}