/*
fonts
*/
@font-face {
    font-family:'Open Sans';
    src: url('/fonts/Open Sans Regular.woff2') format('woff2'),
		url('/fonts/Open Sans Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Open Sans';
    src: url('/fonts/Open Sans Medium.woff2') format('woff2'),
		url('/fonts/Open Sans Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Open Sans';
    src: url('/fonts/Open Sans SemiBold.woff2') format('woff2'),
		url('/fonts/Open Sans SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Open Sans';
    src: url('/fonts/Open Sans Bold.woff2') format('woff2'),
		url('/fonts/Open Sans Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Open Sans';
    src: url('/fonts/Open Sans ExtraBold.woff2') format('woff2'),
		url('/fonts/Open Sans ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

/*
general
*/

:root {
    --dark-green: #355834;
    --light-green: #aed4b0;
    --secundary-green: #5aa775;
    --white: white;
}

body {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

main {
    padding: 0rem 1rem;
    flex: 1;
}

/*
links
*/
a {
    color: var(--dark-green);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

a:hover {
    color: var(--secundary-green);
    text-decoration: wavy;
}

.list__link {
    text-transform: capitalize;
}

.detail p {
    margin-top: 1rem;
}

/*
titles
*/

h1 {
    background-color: var(--dark-green);
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0rem;
    color: var(--white);
    position: relative;
    margin: 1rem 0rem;
    font-weight: 500;
    font-family: 'Open Sans', serif;
}

h1::after {
    content: '';
    width: 1px;
    background-color: var(--white);
    height: 7.2rem;
    position: absolute;
    left: calc(50% + 6rem);
    top: 0rem;
    transform: rotate(10deg);
}


h1::before {
    content: '';
    width: 1px;
    background-color: var(--white);
    height: 7.2rem;
    position: absolute;
    left: calc(50% - 6rem);
    top: 0rem;
    transform: rotate(10deg);
}

h2 {
    text-transform: uppercase;
    color: var(--dark-green);
    text-align: left;
}

@media (min-width: 30rem) {
    h2 {
        text-align: center;
    }
}

.h2--left {
    text-align: left;
    width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: -1.5rem;
}

/*
hero section
*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0rem 3rem;
}

@media (min-width: 40rem) {
    .hero {
        flex-direction: row;
    }
}

.hero__inner {
    width: 20rem;
    background-color: var(--light-green);
    padding: 2rem;
    border-radius: 0.8rem;
}

.banner__image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.4rem;
    border: 7px double var(--dark-green);
}

/*
about
*/
.about {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

/*
lists
*/
.lists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 30rem) {
    .lists {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 50rem) {
    .lists {
        width: 50rem;
        margin: 0 auto;
    }
}

.list {
    list-style-type: none;
    margin-left: -2.5rem;
}

@media (min-width: 30rem) {
    .list__item {
        text-align: center;
    }
}

/*
projects
*/
.project {
    background-color: var(--light-green);
    border: 7px double var(--dark-green);
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
    flex-direction: column;
    
}

@media (min-width: 30rem) {
    .project {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3rem;
    }
}

/*
footer
*/
.footer {
    background-color: var(--dark-green);
    width: 100%;
    color: var(--white);
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.footer__title {
    background-color: var(--dark-green);
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0rem;
    color: var(--white);
    position: relative;
    margin: 1rem 0rem;
    margin-bottom: 0rem;
    font-weight: 500;
    font-family: 'Open Sans', serif;
}

.footer__title::after {
    content: '';
    width: 1px;
    background-color: var(--white);
    height: 7.2rem;
    position: absolute;
    left: calc(50% + 6rem);
    top: 0rem;
    transform: rotate(-10deg);
}


.footer__title::before {
    content: '';
    width: 1px;
    background-color: var(--white);
    height: 7.2rem;
    position: absolute;
    left: calc(50% - 6rem);
    top: 0rem;
    transform: rotate(-10deg);
}

/*
detail page
*/
.detail {
    max-width: 50rem;
    margin: 0 auto;
}