---
tages: pages
title: Home
banner_src: /hero.JPG
banner_alt: Image of Tess Slock
contactTitle: contact
contactIterator:
    -   name: "slocktess@yahoo.com"
    -   name: "0470267557"
    -   name: "Linkedin"
        link: linkedin.com/in/tess-slock/
techTitle: technologieën
techIterator:
    - name: "Github"
    - name: "CSS"
    - name: "Javascript"
    - name: "node.js"
    - name: "express.js"
    - name: "knex.js"
    - name: "react"
    - name: "php"
---

{% extends "main.njk" %}


{% block about %}
Ik ben creatief en kan goed communiceren door mijn achtergrond in taal- en letterkunde. Mijn ervaring als lid van verschillende organisaties heeft me geleerd om goed samen te werken in team. Ik studeer af in 2025, heb interesse in front-end en full-stack functies en ik maak graag gebruiksvriendelijke, responsieve applicaties.
{% endblock about %}

{% block projects %}
    
{% endblock projects %}