{% macro banner(banner_src, banner_alt, class) %}
    <div class="banner {{ class }}">
        <img class="banner__image" src="/images/{{banner_src}}" alt="{{banner_alt}}">
    </div>
{% endmacro %}

{% macro linkList(title, iterator) %}
    <div class="lists__container">
        <h2>{{ title }}</h2>
        <ul class="list">
        {% for item in iterator %}
            {% if item.link %}
                <li class="list__item"><a class="listLink__link" href="{{item.link}}">{{item.name}}</a></li>
                {% else %}
                <li class="list__item">{{item.name}}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro list(title, iterator) %}
    <div>
        <h2>{{ title }}</h2>
        <ul class="list">
        {% for item in iterator %}
            <li class="list__item">{{item.name}}</li>
        {% endfor %}
        </ul>
    </div>
{% endmacro %}