{% macro banner(banner_src, banner_alt, class) %}
    <div class="banner {{ class }}">
        <img class="cover__image" src="/images/{{banner_src}}" alt="{{banner_alt}}">
    </div>
{% endmacro %}

{% macro list(title, iterator) %}
    <div>
        <h2>{{ title }}</h2>
        {% for item in iterator %}
            <li class="list__item">{{item.name}}</li>
        {% endfor %}
    </div>
{% endmacro %}