<nav class="navigation">
    <h1>Tess Slock</h1>
    <ul>
        {% for page in collections.pages %}
            <li class="navigation__item"><a class="navigation__link" href="{{ page.url }}">{{ page.data.title }}</a></li>
        {% endfor %}
</nav>